.header_forgot_pwd{
   border-bottom: 1px solid var(--border-color);
   position: relative;
   padding-top: 10px;
}
.header_forgot_pwd h1{
   font-weight: 500 !important;
   margin-top: 15px;
   margin-bottom: 15px;
}
.sub_content_forgot_pws, .container_signup{
   width: 88%;
   margin: 0 auto;
}
.sub_content_forgot_pws h1{
   text-transform: capitalize;
}
.sub_content_forgot_pws .content_description{
   margin-top: 25px;
} 
.sub_content_forgot_pws .content_description h1{
   padding-bottom: 4px;
}
.sub_content_forgot_pws .content_description p{
   padding: 0 25px 18px 25px;
}