<div class="content_forgot_pwd">
   <div class="header_forgot_pwd">
      <img src="assets/images/icon_left_arrow.png" class="back_button back_forgot"
           (click)="backToView()" >
      <h1 class="transform_capitalize">
         Forgot password
      </h1>
   </div>
   <div class="sub_content_forgot_pws">
      <div class="content_description">
         <h1>Password Reset</h1>
         <p>
            A temporary password has been sent to your email. Please change your password when you sign in.
         </p>
      </div>
      <div class="content_form">
         <button (click)="signInPage()" type="button" class="wm_button wm_height_btn">Sign In</button>
      </div>
   </div>
</div>
