<div class="content_sigup">
   <div class="container-book">
      <h2 class="text-center">
         Select Your Method of Booking
      </h2>
      <p class="text-center">
         Book using your Facebook account information or as a guest. It's as simple as that.
      </p>
      <div class="container_facebook_btn container_facebook_btn_register">
         <div class="facebook_icon">
            <img src="assets/images/icon_facebook.png">
         </div>
         <button type="button" class="wm_height_btn btn-facebook" (click)="signInFacebook()">
            Book with Facebook Account 
         </button>
      </div>
      <div class="sign_up_email">
         <button type="button" class="wm_button_gray wm_height_btn" (click)="showDetail()"
                 >
            Book as Guest
         </button>
      </div>
   </div>   
</div>