<div class="promotions_content recom_services">
    <div class="content_title">
        <div class="content_title_icons">
            <img class="col-md-4 bell_icon" src="assets/images/home/group_5.png" /> 
        </div>
        <h2>Recommended Services</h2>
    </div>
    <div class="promotion service_content">
        <div class="img_promotion">
            <img src="assets/images/promotion/img_promotions.png" />
        </div>
        <div class="description_service">
                <h2>Elemis Tri-Enzyme Resurfacing Massage</h2>
                <p>
                    <i class="clock-icon-font glyphicon glyphicon-time"></i> 60 minutes
                </p>
                <div class="amount">
                    $190 <sup>99</sup>
                </div>
        </div>
        <div class="service-buttons both_buttons">
            <button type="button" class="wm_button_white col-md-5 wm_height_btn">
               Learn More
            </button>
            <button type="button" class="wm_button col-md-5 wm_height_btn">
               Add to Cart
            </button>
        </div>
    </div>
    <div>
        
    </div>
    <div class="register_message">
        <h2 class="wm_subtitle_left">Have a favorite service?</h2>
        <div class="divider_line_promo"></div>
        <p class="first-paragraph">
            Sit back and relax.
        </p>
        <p class="second-paragraph">
            We can remember your recently booked services so you won't have to.
        </p>
        <div>
            <button type="button" class="wm_button_white wm_height_btn">
                Register
                <i class="right-arrow-icon glyphicon glyphicon-menu-right"></i>
            </button>
        </div>
    </div>
</div>
