.container_location_filter{
   height: 100%;
}
.container_location_filter .current_location{
   border-bottom: 1px solid var(--color-four);
   position: fixed;
   width: 100%;
   top: 103px;
   background: var(--main-bg-color);
}
.container_location_filter .current_location h6{
   padding-top: 7px;
   margin-bottom: 0;
   color: var(--main-color) !important;
}
.container_location_list{
   margin-top: 104px;
   padding-bottom: 25px;
}
.container_location_filter .container_location_list ul li{
   text-align: center;
   width: 100%;
   padding: 20px 0;
}
.container_location_filter .container_location_list ul li.active{
   background: var(--sec-color);
   color: var(--main-bg-color);
}
.content_tabs_location .filter_section_active{
   position: fixed;
   width: 100%;
   height: 42px;
   top: 59px;
}
.disabled_filter_tab {
    pointer-events: none;
}
.w_50{
   width: 50% !important;
}