<div class="content_forgot_pwd">
   <div class="header_forgot_pwd">
      <img src="assets/images/icon_left_arrow.png" class="back_button back_forgot"
            (click)="backToView()" >
      <h1 class="transform_capitalize">
         Forgot password
      </h1>
   </div>
   <div class="sub_content_forgot_pws">
      <div *ngIf="displayErrorMessage">
         <error_dialog (closeErrorMsjEvent)="eventCloseMessage($event)"></error_dialog>
      </div>
      <div class="content_description">
         <h1>Forgot your password?</h1>
         <p>
            Simply enter your last name and the email address you used to sign up to reset your password.
         </p>
      </div>
      <div class="content_form">
         <form #formForgotPw="ngForm" novalidate (ngSubmit)="resetPassword(formForgotPw.valid,email.valid,$event)">
            <div class="padding-input">
               <input type="text"
                      [(ngModel)]="forgotPwData.lastName" name="lastName"
                      placeholder="LAST NAME *" 
                      limit-to="50" 
                      required #lastName="ngModel"
                      (keyup)="onKey($event, lastName, formForgotPw.submitted)"
                      [ngClass]="{'error_status': (lastName.dirty && !lastName.valid) ||  
                                 (!lastName.valid && formForgotPw.submitted) || invalidLastName}">
            </div>
            <div class="padding-input">
               <input type="email"  
                      [(ngModel)]="forgotPwData.email" name="email"   
                      placeholder="EMAIL ADDRESS *" 
                      limit-to="50" 
                      required  #email="ngModel"
                      (keyup)="onKey($event, email, formForgotPw.submitted)"
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                     [ngClass]="{'error_status': (email.dirty && !email.valid) || 
                        (!email.valid && formForgotPw.submitted) || invalidEmail}">
            </div>
            <button type="submit" class="wm_button wm_height_btn_form" >
               Reset Password
            </button>
         </form>
      </div>
   </div>
</div>
